{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include "expenses_templates/expenses_header.html" %}
</head>
<body>
<div class="jumbotron" style="border-radius: 6px">
    <div class="container" style="padding-left :15px ; text align: justify; text-justify:auto;">
        <div class="jumbotron" style="padding-left :15px ; text align: justify; text-justify:auto; background: ">

            <table>
                <td>
                    <tr>
                        <form action="/expenses/export_csv" method='POST'>{% csrf_token %}
                            <input type='submit' value='Export in CSV'/ class="btn btn-primary btn-lg"
                            style="margin-right: 20px">
                        </form>
                    </tr>
                    <tr>
                        <form action="/expenses/export_xls" method='POST'>{% csrf_token %}
                            <input type='submit' value='Export in XLS' class="btn btn-primary btn-lg"
                                   style="margin-right: 20px"/>
                        </form>
                    </tr>
                    <tr>
                        <form action='/expenses/detail/' method='POST'>{% csrf_token %}

                            <input type='submit' value='Exit/Cancel' class="btn btn-primary btn-lg"
                                   style="margin-right: 20px"/>
                        </form>
                    </tr>

            </table>


        </div>
    </div>
</div>
</body>
</html>